<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcePath" value="c:\dmssource\" />
    <add key="destPath" value="c:\dmsdest\" />
    <add key="tempPath" value="c:\dmstemp\" />
    <add key="imageMagickPath" value="c:\Programme\imagemagick\" />
    <add key="barcodeRegExp" value="^RE-\d+"/>
  </appSettings>
</configuration>